    /* fonts */
$font-poppins: Poppins;
$font-lato: Lato;
$font-montserrat: Montserrat;
$font-tree: Figtree;

/* font sizes */
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-mid: 24px;
$font-size-large: 36px;
$font-size-larger: 72px;

/* Colors */
$color-ghostwhite: #f8faff;
$color-white: #fff;
$color-black: #000;

$text: #858585;
$text-light: #B0B0B0;
$border-color: #E0E0E0;
$input-bg: #F5F5F5;
$outline-color: #d9d9d9;

$button-color: #4285F4;
$left-1: #286DE0;
$bg-color: #3F84F8;
$link: #346BD4;

// base screen width and height
$base-width: 100%;
$base-height: 100vh;