@import "../../styles/variable.scss";
@import "../../styles/mixins.scss";
@import "../../styles/responsive.scss";

.main-container {
	display: flex;
	height: $base-height;
	width: $base-width;

	@include md {
		overflow: auto;
		flex-direction: column;
		scroll-behavior: smooth;
	}
	// background: $color-ghostwhite;
	// background-image:
	//   linear-gradient(to right, $button-color 0%, $left-1 50%, $color-ghostwhite 50%, $color-ghostwhite 0%),
	//   linear-gradient(to bottom, $button-color 0%, $left-1 50%);

	.left {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width: 50%;
		height: 100vh;
		color: $color-white;
		background-image: linear-gradient(to right, $button-color 0%, $left-1 100%);
		padding: 60px;

		@include md {
			padding: 30px;
			min-height: 100vh;
			width: 100%;
		}

		.logo {
			align-self: flex-start;
			width: 69px;
			height: 29px;
			font-size: $font-size-mid;
			font-family: $font-poppins;
			font-weight: 700;
			line-height: 29.44px;
			color: $color-white;
			cursor: default;
		}

		.title {
			display: flex;
			flex-direction: column;
			width: fit-content;
			justify-content: center;
			align-items: flex-end;

			h1 {
				width: 246px;
				height: 88px;
				font-size: 72px;
				font-weight: 700;
				line-height: 87.44px;
				cursor: default;
				
			}
				a {
					display: none;

					@include md {
						border: 1px solid ;
						padding: 5px;
						border-radius: 5px;
						display: block;
						flex-direction: column;
						font-size: $font-size-small;
						text-decoration: dashed ;
						font-weight: 600;
					}
				}
		}

		.icon-links {
			display: flex;
			width: 299px;
			justify-content: space-between;
			align-items: center;

			.git-icon {
				@include icon-size(44px, 44px);
			}

			.twitter-icon {
				@include icon-size(42px, 41px);
			}

			.linkedIn-icon {
				@include icon-size(48px, 48px);
			}

			.discord-icon {
				@include icon-size(50px, 48px);
			}

			.icon {
				&:hover {
					transform: scale(1.2);
					cursor: pointer;
				}
			}
		}
	}

	.right {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		height: 100vh;
		background-color: $color-ghostwhite;
		padding: 60px;

		@include md {
			padding: 60px 40px;
			height: 100%;
			width: 100%;
		}

		.container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 25px;
			height: fit-content;
			width: fit-content;

			@include md {
				width: 100%;
			}

			.header {
				> h1 {
					font-size: $font-size-large;

					@include lg {
						font-size: $font-size-mid;
					}
				}
				> p {
					margin-top: 8px;

					@include lg {
						font-size: $font-size-small;
					}
				}
			}

			.signIn-btns {
				display: flex;
				width: 100%;
				height: fit-content;
				justify-content: space-between;
				align-items: center;

				@include xl {
					width: fit-content;
					gap: 20px;
				}

				@include lg {
					align-items: center;
					gap: 10px;
					flex-direction: column;
				}
			}

			.form-container {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 347.99px;
				width: 422.64px;
				background-color: $color-white;
				border-radius: 20px;
				padding: 30px;

				@include xl {
					width: 100%;
				}

				// div {
				div {
					label {
						display: block;
						margin-bottom: 10px;
					}
					input {
						background-color: $input-bg;
						color: $color-black;
						border: none;
						border-radius: 10px;
						height: 40px;
						width: 100%;
						padding: 5px 10px;
					}

					> a {
						font-family: $font-lato;
						text-decoration: none;
						color: $link;
						font-weight: 400;
						font-size: 16px;

						@include md {
							text-align: center
						}
					}
				}

				.btn {
					@include btn($button-color);
				}
				// }
			}

			> p {
				align-self: center;
				color: $text;
				display: flex;
				gap: 5px;

				@include md {
					flex-direction: column;
				}

				a {
					font-family: $font-lato;
					text-decoration: none;
					color: $link;
					font-weight: 400;
					font-size: 16px;
				}
			}
		}
	}
}
