@import '../../styles/variable.scss';
@import '../../styles/mixins.scss';

.side-container {  
  height: 100%;
  width: 100%;

  h1 {
    font-size: $font-size-large;
    margin-bottom: 90px;
  }

  .main-opts {
    display: flex;
    flex-direction: column;
    gap: 50px;

    button {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 1px;
      background-color: transparent;
      border: none;
      color: inherit;
      font-family: $font-montserrat;
      font-size: 18px;

      &:hover {
        cursor: pointer;
        border-radius: 10px;
        // padding: 10px;
        // background-color: rgba(255, 255, 255, 0.1);
        font-weight: 700;
      }
    }

    .active {
      span {
        font-weight: 700;
      }
    }
  }
}
.other-opts {
  display: flex;
  flex-direction: column;
  gap: 20px;

  a {
    font-size: 14px;
    font-weight: 400;

    &:hover {
      font-weight: 700;
    }
  }
}
