@import "../../styles/variable.scss";
@import "../../styles/mixins.scss";

.pie-card {
	height: 100%;
	width: 100%;
	background-color: $color-white;
	border: 2px solid $border-color;
	border-radius: 20px;
	box-shadow: 3px 4px 11px 0px #62626226;
	padding: 20px;

	.title {
		display: flex;
		align-items: center;
		justify-content: space-between;
    margin-left: 30px;
		margin-top: 5px;

		h2 {
			font-size: 18px;
		}

		.duration {
			font-size: 14px;
			font-weight: 400;
			color: $text;
		}
	}

	.pie-details {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 0;
		width: 100%;
		max-height: 100%;
		gap: 30px;

		.chart {
			width: 100%;
			flex: 1;
			max-height: 100%;
		}

		.legends {
			flex: 1;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      
			div {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 5px;

				.single-legend {
					display: flex;
					gap: 10px;
					align-items: center;
					justify-content: center;
          font-family: $font-montserrat;
          font-size: 14px;
          font-weight: 700;

					span {
						width: 11px;
						height: 11px;
						border-radius: 50%;
					}

					.tees-color {
						background-color: #98d89e;
					}
					.pants-color {
						background-color: #f6dc7d;
						order: 0;
					}
					.hoodies-color {
						background-color: #ee8484;
					}
				}

        .percentage {
          color: $text;
          font-family: $font-lato;
          font-weight: 400;
          font-size: 12px;
          margin-left: 22px;
        }
			}
		}
	}
}
