@import "../../styles/variable.scss";
@import "../../styles/mixins.scss";
@import "../../styles/responsive.scss";

.stats {
	width: 100%;
	height: 100%;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	
	@include xl {
		grid-template-columns: repeat(3, 1fr);
	}

	@include lg {
		grid-template-columns: repeat(2, 1fr);
	}

	@include sm {
		grid-template-columns: 1fr;
	}

	.card-item {
		background-color: $color-white;
		min-height: 120px;
		width: fit-content;
		border: 2px solid $border-color;
		border-radius: 20px;
		box-shadow: 3px 4px 11px 0px #62626226;
		padding: 15px 22px;
		display: flex;
		flex-direction: column;
    justify-content: space-between;
		align-items: flex-start;
		gap: 5px;

		@include md {
			width: 100%;
			padding: 10px 15px;
			flex-direction: row;
			align-items: center;
			gap: 10px;
		}

		@include sm {
			width: max-content;
		}

		.revenue-icon {
			border-radius: 50%;
			padding: 6px;
			min-width: 32px;
			min-height: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #7fcd93;

			@include icon-size(40px, 40px)
		}

		.transaction-icon {
			border-radius: 50%;
			padding: 6px;
			min-width: 32px;
			min-height: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #debf85;

			@include icon-size(40px, 40px)
		}

		.like-icon {
			border-radius: 50%;
			padding: 6px;
			min-width: 32px;
			min-height: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #eca4a4;

			@include icon-size(40px, 40px)
		}

		.users-icon {
			border-radius: 50%;
			padding: 6px;
			min-width: 32px;
			min-height: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #a9b0e5;

			@include icon-size(40px, 40px)
		}

		.card-data {
			display: flex;
      min-width: 189px;
      justify-content: space-between;
      align-items: flex-end;

			@include md {
				gap: 20px;
			}

      .data {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				gap: 5px;

				h4 {
					font-size: 11px;

					@include md {
						font-size: $font-size-small;
					}

					@include sm {
						font-size: 13px;
					}
				}

				span {
					font-family: "Open Sans", "sans-serif";
					font-size: 21px;
					font-weight: 700;

					@include md {
						font-size: $font-size-mid;
					}

					@include sm {
						font-size: 21px;
					}
				}
			}

      .status {
        min-width: 47px;
        min-height: 24px;
        background-color: #E9F9EB;
        color: #4AD15F;
        font-size: 10px;
        font-weight: 600;
        font-family: 'Figtree';
        display: flex;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
				margin-right: 10px;
      }
		}
	}
}
